* {
	margin: 0;
	padding: 0;
}

body {
	background: rgb(230, 230, 230);
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* 网页头部 */
.head {
	height: 45px;
	width: 100%;
	background: rgb(59, 59, 59);
	display: flex;
	justify-content: space-around;
}

/* 头部商标 */
.head>.head_logo {
	line-height: 45px;
	margin-left: 18px;
}

/* 头部导航栏 */
.head>.head_ave {
	width: 1220px;
	line-height: 45px;
	margin: 0 auto;
}

.head>.head_ave ul {
	display: flex;
	font-size: 12px;
}

.head>.head_ave ul li a {
	padding: 0 20px;
	color: rgba(255, 255, 255, 0.7);
}

/* 在线商城字体样式 */
.head>.head_ave ul .head_ave_li1 a {
	color: rgb(229, 229, 229);
	font-weight: 700;
}

/* 个人中心购物车父框 */
.head>.head_rgt {
	height: 45px;
	width: 100px;
	margin-top: 10px;
	display: flex;
	position: relative;
}
.head>.head_percent>.shang{
	height: 100px;
	width: 150px;
	text-align: center;
}
.head>.head_percent{
	height: 375px;
	width: 150px;
	background: white;
	position: absolute;
	z-index: 2;
	top: 45px;
	right: 20px;
	border: 1px solid rgb(180,180,200);
	border-radius: 10px;
	margin-top: 1px;
	display: none;
	
}

.head>.head_percent ul li {
	width: 150px;
	border-top: 1px solid rgb(230,230,230);
	line-height: 45px;
	display: flex;
	opacity: .5;
	cursor: pointer;
}
.head>.head_percent ul a {
	color: #000000;
}
.head>.head_percent ul li:hover{
	background: rgb(250,250,250);
}
.head>.head_percent .tb{
	margin-left: 10px;
}
.head>.head_percent .xx{
	margin-left: 10px;
}
.head>.head_percent>.shang img{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-top: 10px;
}

/* 个人中心标志 */
.head>.head_rgt .head_perCen {
	height: 20px;
	width: 20px;
	background: url(../img/shopping.png) no-repeat;
	background-size: 180%;
	background-position: 2px 2px;
	cursor: pointer;
}

/* 购物车标志 */
.head>.head_rgt .head_spCart {
	height: 20px;
	width: 20px;
	background: url(../img/shopping.png) no-repeat;
	background-size: 180%;
	background-position: -16px -17px;
	margin-left: 20px;
	cursor: pointer;
}
.tab{
	height: 76px;
	width: 100%;
	background: white;
}
.tab>.tab_fk{
	line-height: 76px;
	width: 1220px;
	margin: 0 auto;
}
.tab>.tab_fk>ul{
	display: flex;
}
.tab>.tab_fk>ul>li{
	margin-right: 40px;
	font-size: 14px;
	color: rgba(0,0,0,.6);
	cursor: pointer;
}
.tab>.tab_fk .tab_fk_li{
	color: #000000;
	font-weight: 600;
}
/* 全部应用 */
.main{
	height: 1430px;
	width: 1221px;
	margin: 30px auto;
	display: none;
}
.main>.top{
	height: 500px;
	background: #008000;
	border-radius: 5px;
	
}
.main>.top img{
	width: 1220px;
	border-radius: 5px;
	cursor: pointer;
}
.main>.bot{
	margin-top: 30px;
	height: 900px;
	background: white;
	border-radius: 5px;
	border-top: 1px solid rgb(200,200,200);
	border-left: 1px solid rgb(200,200,200);
}
.main>.bot img{
	height: 78px;
	width: 78px;
}

.main>.bot>ul>li{
	height: 249px;
	width: 304px;
	border-right: 1px solid rgb(200,200,200);
	border-bottom: 1px solid rgb(200,200,200);
	float: left;
	padding: 100px 0;
	text-align: center;
	position: relative;
}
.main>.bot>ul>li>.first{
	height: 180px;
	width: 304px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	opacity: 1;
	transition: .3s;
	position: absolute;
}
.main>.bot>ul>li>.first>.first_sp1{
	color: rgb(150,150,150);
	margin-top: 20px;
}
.main>.bot>ul>li>.first>.first_sp2{
	color: rgb(170,170,170);
	font-size: 13px;
	margin-top: 20px;
}
.main>.bot>ul>li>.first>.bot img{
	height: 15px;
	width: 15px;
	margin-top: 30px;
}
.main>.bot>ul>li>.second{
	height: 180px;
	width: 304px;
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	transition: .3s;
	position: absolute
}
.main>.bot>ul>li>.second img{
	height: 120px;
	width: 120px;
}
.main>.bot>ul>li>.second>.second_sp1{
	margin-top: 35px;
	color: rgba(0,0,0,.5);
}
.main>.bot>ul>li>.second>.second_sp2{
	margin-top: 35px;
	font-size: 12px;
	color: #5079D9;
	cursor: pointer;
}
.main>.bot>ul>.expect{
	width: 600px;
	padding: 100px 157px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main>.bot>ul>.expect>.expect_fk{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: 15px;
}
.main>.bot>ul>.expect>.expect_fk>.expect_sp1{
	font-size: 14px;
	color: #666;
}

.main>.bot>ul>.expect>.expect_fk>.expect_sp2{
	margin-top: 10px;
	font-size: 12px;
	color: #999;
}
/* 锤子商城 */
.main_tow{
	display: none;
}
.main_tow>.main_tow_top{
	height: 285px;
	width: 1220px;
	margin: 100px auto;
	text-align: center;
}
.main_tow>.main_tow_top>img{
	height: 100px;
	width: 100px;
}
.main_tow>.main_tow_top span{
	display: block;
}
.main_tow>.main_tow_top>.main_tow_sp1{
	margin-top: 30px;
	font-size: 28px;
	font-weight: 600;
}
.main_tow>.main_tow_top>.main_tow_sp2{
	margin-top: 30px;
	color: #D44D44;
	font-size: 18px;
}
.main_tow>.main_tow_top>.but{
	margin-top: 30px;
}
.main_tow>.main_tow_top>.but button{
	height: 40px;
	width: 120px;
	border: 1px solid rgb(200,200,200);
	outline: none;
	background: rgb(230,230,230);
	border-radius: 5px;
	margin-right: 10px;
	background: rgb(245,245,245);
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	color: #666;
}
.main_tow>.main_tow_top>.but button:hover{
	background: rgb(230,230,230);
}
.main_tow>.main_tow_ctr{
	width: 1220px;
	margin: 0 auto;
}
.main_tow>.main_tow_ctr img{
	width: 100%;
}
.main_tow>.main_tow_bot{
	height: 400px;
	width: 100%;
	background: white;
	display: flex;
}
.main_tow>.main_tow_bot>.main_tow_bot_fk{
	align-self: center;
	display: flex;
	justify-content: space-between;
	width: 1220px;
	margin: 0 auto;
}

.main_tow>.main_tow_bot>.main_tow_bot_fk ul>li{
	width: 550px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color: #999;
}
.main_tow>.main_tow_bot>.main_tow_bot_fk span{
	font-size: 16px;
	color: #333;
	font-weight: 600;
}






.foot{
	height: 340px;
	width: 100%;
	border-top: 1px solid rgb(215, 215, 215);
	background: rgb(250,250,250);
}
.foot>.foot_main{
	height: 340px;
	width: 1220px;
	margin: 0 auto;
}
.foot>.foot_main>.foot_main_top{
	height: 226px;
	width: 1220px;
	border-bottom: 1px solid rgb(215, 215, 215);
	display: flex;
	align-items: center;
}
.foot>.foot_main>.foot_main_top ul li{
	margin-top: 10px;
	margin-right: 90px;
	font-size: 12px;
	color: rgb(150,150,150);
	cursor: pointer;
}
.foot>.foot_main>.foot_main_top ul .li1{
	margin-top: 0;
	font-size: 12px;
	font-weight: 600;
	color: #000000;
	opacity: .7;
	cursor: text;
}
.foot>.foot_main>.foot_main_top ul .foot_li2:hover{
	color: #5079D9;
}
.foot>.foot_main>.foot_main_top>.foot_rgt{
	display: flex;
	flex-direction: column;
	margin-left: 500px;
}
.foot>.foot_main>.foot_main_top>.foot_rgt span{
	text-align: end;
}
.foot>.foot_main>.foot_main_top>.foot_rgt>.rgt_sp1{
	font-size: 20px;
	font-weight: 700;
	color: #5079D9;
}
.foot>.foot_main>.foot_main_top>.foot_rgt>.rgt_sp2{
	font-size: 12px;
	color: rgb(150,150,150);
	font-weight: 500;
}
.foot>.foot_main>.foot_main_top>.foot_rgt button{
	margin-top: 10px;
	height: 35px;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid rgb(215,215,215);
}
.foot>.foot_main>.foot_main_top>.foot_rgt button a{
	color: #5079D9;
	font-size: 12px;
	font-weight: 700;
}
.foot>.foot_main>.foot_main_but {
	padding-top: 30px;
}
.foot>.foot_main>.foot_main_but span{
	font-size: 12px;
	color: #bdbdbd;
	font-weight: 500;
	/* vertical-align: middle; */
}
.foot>.foot_main>.foot_main_but img{
	margin-left: 5px;
	vertical-align: middle;
}
.foot>.foot_main>.foot_main_but a{
	font-size: 12px;
	color: #bdbdbd;
}
.foot>.foot_main>.foot_main_but a:hover{
	color: #5079D9;
}