*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../img/注册页背景2.png);
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
input::-webkit-input-placeholder{
	font-size: 14px;
	opacity: .5;
}
/* 父框 */
.box{
	height: 650px;
	width: 460px;
	border: 1px solid gainsboro;
	margin: 50px auto;
	border-radius: 15px;
	background: white;
	box-shadow: 0 5px 10px gray;
	position: absolute;
}
/* 头部 带logo那地方 */
.box .head{
	height: 200px;
	width: 460px;
	text-align: center;
	line-height: 62px;
	font-size: 20px;
	font-weight: 700;
	border: 0px solid rgb(220,220,220);
	border-radius:15px 15px 0 0;
	color: #666;
	
}
/* input 第一行 选择手机号归属地*/
.box .word{
	height: 48px;
	width: 370px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	margin: 20px auto;
	display: flex;
	line-height: 48px;
	color: rgb(150,150,150);
	justify-content: space-between;
}
.box .word #sp1{
	display: block;
	height: 48px;
	width: 48px;
	border-right: 1px solid gainsboro;
	border-radius: 5px 0 0 5px;
	text-align: center;
	line-height: 48px;
	font-size: 20px;
	background: rgb(250,250,250);
	cursor: pointer;
}
.box .word i{
	opacity: 0.4;
}
.box .word #sp2{
	margin-left: 10px;
}
.box .word #spz{
	cursor: pointer;
}

/* input 第二行 手机号输入*/
.box .photo{
	height: 48px;
	width: 370px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	margin: 20px auto;
	display: flex;
	line-height: 48px;
	color: rgb(150,150,150);
	position: relative;
}
.box .photo #sp1{
	display: block;
	height: 48px;
	width: 48px;
	border-right: 1px solid gainsboro;
	border-radius: 5px 0 0 5px;
	text-align: center;
	line-height: 48px;
	font-size: 20px;
	background: rgb(250,250,250);
	cursor: pointer;
}
.box .photo i{
	opacity: 0.4;
}
.box .photo #sp2{
	margin-left: 10px;
	font-size: 18px;
}
.box .photo input{
	width: 250px;
	outline-style: none;
	margin-left: 10px;
	border: 0;
	font-size: 18px;
}


/* input 第三行 登陆密码*/
.box .pass{
	height: 48px;
	width: 370px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	margin: 20px auto;
	display: flex;
	line-height: 48px;
	color: rgb(150,150,150);
	position: relative;
}
.box .pass #sp1{
	display: block;
	height: 48px;
	width: 48px;
	border-right: 1px solid gainsboro;
	border-radius: 5px 0 0 5px;
	text-align: center;
	line-height: 48px;
	font-size: 20px;
	background: rgb(250,250,250);
	cursor: pointer;
}
.box .pass i{
	opacity: 0.4;
}
.box .pass #sp2{
	margin-left: 10px;
	font-size: 18px;
}
.box .pass input{
	width: 300px;
	outline-style: none;
	margin-left: 10px;
	border: 0;
	font-size: 18px;
}
/* 登录按钮部分 */
.box .register{
	width: 370px;
	height: 150px;
	margin: auto;
	font-size: 7px;
	display: flex;
	flex-direction: column;
}
/* 自动登录按钮 */
.box .register #spb{
	display: block;
	height: 20px;
	width: 20px;
	background: url(../img/checkbox_f49f6e4acf_2x.png) no-repeat;
	background-position: bottom;
	cursor: pointer;
}
/* 登录那钮 */
.box .register button{
	margin-top: 20px;
	height: 48px;
	width: 370px;
	background: #5079D9;
	opacity: 0.5;
	border: 0;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 20px;
	cursor: pointer;
	outline: none
}
/* 分割线 */
.box .register p{
	padding-top: 20px;
}
.box .register span{
	color: rgb(150,150,150);
}
/* 分割线下面声明 */
.box .register .register_but{
	text-align: center;
}
.box .register .register_but span{
	color: rgb(150,150,150);
}
.box .register a{
	color: #5079D9;
}
/* 登陆方式 */
.box .register .register_but ul{
	display: flex;
	margin-top: 20px;
	color: rgb(150,150,150);
}
.box .register .register_but ul li{
	margin-left: 15px;
	font-size: 15px;
	line-height: 20px;
	cursor: pointer;
}
.box .register .register_but ul .li1{
	font-size: 12px;
	cursor: default;
	margin: 0;
}
.box .register .register_but ul .li3{
	font-size: 17px;
}
.box .register .register_but ul .li4{
	font-size: 17px;
}
.box .register .register_but ul .li6{
	font-size: 12px;
	margin-left: 110px;
}
/* 划过 */
.box .register .register_but ul .li2:hover{
	color: limegreen;
}
.box .register .register_but ul .li3:hover{
	color: crimson;
}
.box .register .register_but ul .li4:hover{
	color: black;
}
.box .register .register_but ul .li5:hover{
	color: #5079D9;
}
.box .register .register_but ul .li6:hover{
	color: #5079D9;
}
/* 最下面 */
.box .foot{
	margin-top: 150px;
	height: 35px;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.box .foot .sp1{
	font-size: 12px;
	line-height: 20px;
	opacity: 0.6;
}
.box .foot .sp2{
	margin-top: 5px;
	font-size: 10px;
	line-height: 20px;
	color: #5079D9;
	margin-bottom: 50px;
	cursor: pointer;
}
/* 划过加个阴影 */
.box .word:hover{
	box-shadow: 0 0 7px gainsboro;
}
.box .photo:hover{
	box-shadow: 0 0 7px gainsboro;
}
.box .pass:hover{
	box-shadow: 0 0 7px gainsboro;
}
/* 手机号格式错误提示 */
.box #numbe{
	display: block;
	position: absolute;
	font-size: 12px;
	right: 5px;
	color: #A52A2A;
	display: none;
}






/* 父框 */
.box1{
	height: 600px;
	width: 460px;
	border: 1px solid gainsboro;
	margin: 50px auto;
	border-radius: 15px;
	background: white;
	box-shadow: 0 5px 10px gray;
	position: absolute;
}
/* 头部 带logo那地方 */
.box1 .head{
	height: 200px;
	width: 460px;
	text-align: center;
	line-height: 62px;
	font-size: 20px;
	font-weight: 700;
	border: 0px solid rgb(220,220,220);
	border-radius:15px 15px 0 0;
	color: #666;
	
}

/* input 第1行 手机号输入*/
.box1 .photo{
	height: 48px;
	width: 370px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	margin: 20px auto;
	display: flex;
	line-height: 48px;
	color: rgb(150,150,150);
	position: relative;
}
.box1 .photo #sp1{
	display: block;
	height: 48px;
	width: 48px;
	border-right: 1px solid gainsboro;
	border-radius: 5px 0 0 5px;
	text-align: center;
	line-height: 48px;
	font-size: 20px;
	background: rgb(250,250,250);
	cursor: pointer;
}
.box1 .photo i{
	opacity: 0.4;
}
.box1 .photo #sp2{
	margin-left: 10px;
	font-size: 18px;
}
.box1 .photo input{
	width: 250px;
	outline-style: none;
	border: 0;
	font-size: 18px;
}


/* input 第2行 登陆密码*/
.box1 .pass{
	height: 48px;
	width: 370px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	margin: 20px auto;
	display: flex;
	line-height: 48px;
	color: rgb(150,150,150);
	position: relative;
}
.box1 .pass #sp1{
	display: block;
	height: 48px;
	width: 48px;
	border-right: 1px solid gainsboro;
	border-radius: 5px 0 0 5px;
	text-align: center;
	line-height: 48px;
	font-size: 20px;
	background: rgb(250,250,250);
	cursor: pointer;
}
.box1 .pass i{
	opacity: 0.4;
}
.box1 .pass #sp2{
	margin-left: 10px;
	font-size: 18px;
}
.box1 .pass input{
	width: 300px;
	outline-style: none;
	border: 0;
	font-size: 18px;
	margin-left: 10px;
}

/* 登录按钮部分 */
.box1 .register{
	width: 370px;
	height: 150px;
	margin: auto;
	font-size: 7px;
	display: flex;
	flex-direction: column;
}
/* 自动登录按钮 */
.box1 .register #spb1{
	display: block;
	height: 20px;
	width: 20px;
	background: url(../img/checkbox_f49f6e4acf_2x.png) no-repeat;
	background-position: bottom;
	cursor: pointer;
}
/* 登录那钮 */
.box1 .register button{
	margin-top: 20px;
	height: 48px;
	width: 370px;
	background: #5079D9;
	opacity: 0.5;
	border: 0;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 20px;
	cursor: pointer;
	outline: none
}
/* 分割线 */
.box1 .register p{
	padding-top: 30px;
}
.box1 .register span{
	color: rgb(150,150,150);
}
/* 分割线下面声明 */
.box1 .register .register_but{
	text-align: center;
}


.box1 .register .register_but span{
	
	color: rgb(150,150,150);
}
.box1 .register a{
	color: #5079D9;
}
/* 登陆方式 */
.box1 .register .register_but ul{
	display: flex;
	margin-top: 20px;
	color: rgb(150,150,150);
}
.box1 .register .register_but ul li{
	margin-left: 15px;
	font-size: 15px;
	line-height: 20px;
	cursor: pointer;
}
.box1 .register .register_but ul .li1{
	font-size: 12px;
	cursor: default;
	margin: 0;
}
.box1 .register .register_but ul .li3{
	font-size: 17px;
}
.box1 .register .register_but ul .li4{
	font-size: 17px;
}
.box1 .register .register_but ul .li7{
	font-size: 12px;
	margin-left: 70px;
}
/* 划过 */
.box1 .register .register_but ul .li2:hover{
	color: limegreen;
}
.box1 .register .register_but ul .li3:hover{
	color: crimson;
}
.box1 .register .register_but ul .li4:hover{
	color: black;
}
.box1 .register .register_but ul .li5:hover{
	color: #5079D9;
}
.box1 .register .register_but ul .li7:hover{
	color: #5079D9;
}
/* 最下面 */
.box1 .foot{
	margin-top: 150px;
	height: 35px;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.box1 .foot .sp1{
	font-size: 12px;
	line-height: 20px;
	opacity: 0.6;
}
.box1 .foot .sp2{
	margin-top: 5px;
	font-size: 10px;
	line-height: 20px;
	color: #5079D9;
	margin-bottom: 50px;
	cursor: pointer;
}
/* 划过加个阴影 */
.box1 .word:hover{
	box-shadow: 0 0 7px gainsboro;
}
.box1 .photo:hover{
	box-shadow: 0 0 7px gainsboro;
}
.box1 .pass:hover{
	box-shadow: 0 0 7px gainsboro;
}
/* 手机号格式错误提示 */
.box1 #numbe{
	display: block;
	position: absolute;
	font-size: 12px;
	right: 5px;
	color: #A52A2A;
	display: none;
}
.box1{
	display: none;
}

#xlgz{
	height: 270px;
	width: 240px;
	overflow-y: auto;
	position: absolute;
	top:272px;
	right: 45px;
	display: none;
	border: 1px solid rgb(200,200,200);
	border-radius: 5px;
}
#xlgz ul li{
	font-size: 14px;
	padding-left: 20px;
	line-height: 50px;
	border-bottom: 1px solid rgb(200,200,200);
	background: white;
	color: rgb(180,180,180);
	cursor: pointer;
}
#xlgz ul li:hover{
	color: rgb(100,100,100);
	font-weight: 600;
	background: rgb(250,250,250);
}