* {
	margin: 0;
	padding: 0;
}

body {
	background: white;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* 网页头部 */
.head {
	height: 45px;
	width: 100%;
	background: rgb(59, 59, 59);
	display: flex;
	justify-content: space-around;
}

/* 头部商标 */
.head>.head_logo {
	line-height: 45px;
	margin-left: 18px;
}

/* 头部导航栏 */
.head>.head_ave {
	width: 1400px;
	line-height: 45px;
}

.head>.head_ave ul {
	display: flex;
	margin-left: 125px;
	font-size: 12px;
}

.head>.head_ave ul li a {
	padding: 0 20px;
	color: rgba(255, 255, 255, 0.7);
}

/* 在线商城字体样式 */
.head>.head_ave ul .head_ave_li1 a {
	color: rgb(229, 229, 229);
	font-weight: 700;
}

/* 个人中心购物车父框 */
.head>.head_rgt {
	height: 45px;
	width: 100px;
	margin-top: 10px;
	display: flex;
	position: relative;
}
.head>.head_percent>.shang{
	height: 100px;
	width: 150px;
	text-align: center;
}
.head>.head_percent{
	height: 375px;
	width: 150px;
	background: white;
	position: absolute;
	z-index: 2;
	top: 45px;
	right: 20px;
	border: 1px solid rgb(180,180,200);
	border-radius: 10px;
	margin-top: 1px;
	display: none;
	
}

.head>.head_percent ul li {
	width: 150px;
	border-top: 1px solid rgb(230,230,230);
	line-height: 45px;
	display: flex;
	opacity: .5;
	cursor: pointer;
}
.head>.head_percent ul a {
	color: #000000;
}
.head>.head_percent ul li:hover{
	background: rgb(250,250,250);
}
.head>.head_percent .tb{
	margin-left: 10px;
}
.head>.head_percent .xx{
	margin-left: 10px;
}
.head>.head_percent>.shang img{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-top: 10px;
}

/* 个人中心标志 */
.head>.head_rgt .head_perCen {
	height: 20px;
	width: 20px;
	background: url(../img/shopping.png) no-repeat;
	background-size: 180%;
	background-position: 2px 2px;
	cursor: pointer;
}

/* 购物车标志 */
.head>.head_rgt .head_spCart {
	height: 20px;
	width: 20px;
	background: url(../img/shopping.png) no-repeat;
	background-size: 180%;
	background-position: -16px -17px;
	margin-left: 20px;
	cursor: pointer;
}
.xzgm{
	background: white;
	height: 40px;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid rgb(200,200,200);
}
.xzgm>.xzgm_fk{
	background: white;
	height: 40px;
	width: 1220px;
	margin: 0 auto;
	line-height: 40px;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
}
.xzgm button{
	background: #5079D9;
	border: 0;
	outline: none;
	color: white;
	height: 30px;
	width: 80px;
	border-radius: 5px;
	font-weight: 600;
	cursor: pointer;
}
.xzgm span{
	margin-right: 15px;
	cursor: pointer;
}
.xzgm span:nth-child(1){
	color: #000;
	font-weight: 600;
}
.xzgm span:nth-child(2){
	color: #666;
}
.xzgm span:nth-child(3){
	color: #666;
}

.main{
	width: 100%;
	height: auto;
	/* display: none; */
}
.main img{
	width: 100%;
	height: auto;
}

.main2{
	width: 100%;
	height: auto;
	position: relative;
	display: none;
}
.main2>.gk{
	height: 35px;
	width: 330px;
	position: absolute;
	top: 1164px;
	left: 600px;
	cursor: pointer;
}
.main2_img{
	width: 1220px;
	margin: 0 auto;
}
.main2_img img{
	width: 100%;
	height: auto;
}
.main2 img:nth-child(1){
	width: 100%;
	height: auto;
}
.main3{
	min-height: 720px;
	width: 100%;
	position: relative;
	display: none;
}
.main3>.main3_top{
	height: 720px;
}
.main3>.main3_top>img{
	width: 1220px;
	position: absolute;
}
#oimg1{
	opacity: 0;
	transition: .3s;
}
#oimg2{
	opacity: 1;
	transition: .3s;
}
.main3>.main3_top>div{
	height: 52px;
	width: 52px;
}
.main3>.main3_top>.hei{
	position: absolute;
	top: 530px;
	cursor: pointer;
}
.main3>.main3_top>.lv{
	position: absolute;
	top: 530px;
	left: 230px;
	cursor: pointer;
}

.main3>.main3_top{
	width: 1220px;
	margin: 0 auto;
}
.main3>.main3_img{
	width: 1220px;
	margin: 0 auto;
}
.main3>.main3_img img{
	width: 1220px;
}




.foot{
	height: 340px;
	width: 100%;
	border-top: 1px solid rgb(215, 215, 215);
	background: rgb(250,250,250);
}
.foot>.foot_main{
	height: 340px;
	width: 1220px;
	margin: 0 auto;
}
.foot>.foot_main>.foot_main_top{
	height: 226px;
	width: 1220px;
	border-bottom: 1px solid rgb(215, 215, 215);
	display: flex;
	align-items: center;
}
.foot>.foot_main>.foot_main_top ul li{
	margin-top: 10px;
	margin-right: 90px;
	font-size: 12px;
	color: rgb(150,150,150);
	cursor: pointer;
}
.foot>.foot_main>.foot_main_top ul .li1{
	margin-top: 0;
	font-size: 12px;
	font-weight: 600;
	color: #000000;
	opacity: .7;
	cursor: text;
}
.foot>.foot_main>.foot_main_top ul .foot_li2:hover{
	color: #5079D9;
}
.foot>.foot_main>.foot_main_top>.foot_rgt{
	display: flex;
	flex-direction: column;
	margin-left: 500px;
}
.foot>.foot_main>.foot_main_top>.foot_rgt span{
	text-align: end;
}
.foot>.foot_main>.foot_main_top>.foot_rgt>.rgt_sp1{
	font-size: 20px;
	font-weight: 700;
	color: #5079D9;
}
.foot>.foot_main>.foot_main_top>.foot_rgt>.rgt_sp2{
	font-size: 12px;
	color: rgb(150,150,150);
	font-weight: 500;
}
.foot>.foot_main>.foot_main_top>.foot_rgt button{
	margin-top: 10px;
	height: 35px;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid rgb(215,215,215);
}
.foot>.foot_main>.foot_main_top>.foot_rgt button a{
	color: #5079D9;
	font-size: 12px;
	font-weight: 700;
}
.foot>.foot_main>.foot_main_but {
	padding-top: 30px;
}
.foot>.foot_main>.foot_main_but span{
	font-size: 12px;
	color: #bdbdbd;
	font-weight: 500;
	/* vertical-align: middle; */
}
.foot>.foot_main>.foot_main_but img{
	margin-left: 5px;
	vertical-align: middle;
}
.foot>.foot_main>.foot_main_but a{
	font-size: 12px;
	color: #bdbdbd;
}
.foot>.foot_main>.foot_main_but a:hover{
	color: #5079D9;
}
